table
{
	width: 95%;
	display: block;
	margin: auto;
}

img
{

	display: block;
	margin: 10px auto 0 auto;
	border-radius: 10px;
	object-fit: cover;
	max-width: 95%;
}

figcaption
{
	text-align: center;
}
