body {
	margin: 0;
  }
  #container {
	position: relative;
	background-color: #000;
	width: 100%;
	height: 200px;
  }
  .map-control {
	font-size: 1rem;
	padding: 0.5rem .8rem;
	background: rgba(77, 89, 107, 0.5);
	color: #323c48;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0, .2);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgba(255, 255, 255, 0.1);
	transition: all .35s ease;
  }
  .map-control:first-child {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-width: 0;
  }
  .map-control:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-width: 0;
  }
  .map-control--container {
	position: absolute;
	left: 1rem;
	top: 2rem;
	text-decoration: none;
	border: 1px solid rgba(0,0,0, .15);
	border-radius: 3px;
	transition: border .35s ease;
  }
  .map-control--container:hover {
	border: 1px solid rgba(0,0,0, .25);
  }
  .map-control--container:hover .map-control {
	background: #f0f0f0;
	border-bottom-color: rgba(0,0,0, .2);
	border-top-color: rgba(255, 255, 255, 0.8);
  }
  .main-content {
	background-color: #fff;
  }
  .container {
	margin: 0 auto;
	max-width: 1200px;
	width: 80%;
	padding: 2rem;
  }

  .map-visualize--details-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	background: rgba(0,0,0, .35);
	color: #fefefe;
	font-family: sans-serif;
	font-size: 10px;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none; /* IE 11 */
	height: 100px;

  }
  .map-visualize--details-container h3,
  .map-visualize--details-container h5 {
	margin: 0;
  }
  .map-visualize--details-container .company {
	margin: 0 0 .5rem;
  }
  .card-popup {
	position: absolute;
	z-index: 100001;
	display: none;
	background-color: white;
	padding: 1rem;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2), 0 2px 6px rgba(16, 22, 26, 0.2);
  }
  .card-popup.visible {
	display: block;
  }
  .cursor {
	cursor: pointer;
  }
  .card-popup:after {
	content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  left: 0px;
	  right: auto;
	  top: -12px;
	  border: 12px solid;
	  border-color: transparent transparent transparent white;
  }
  .main-content {
	position: relative;
	z-index: 5;
  }

@media only screen and (max-width: 578px) {
	.map-visualize--details-container {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba(0,0,0, .35);
		color: #fefefe;
		font-family: sans-serif;
		font-size: 10px;
		overflow-y: auto;
		scrollbar-width: none;
		-ms-overflow-style: none; /* IE 11 */
		height: 30px;
	
	  }
}